div {
   display: flex;
   justify-content: center;
}

table {
   height: 100%;
   position: absolute;
   top: 100px;
}

img {
   float: left;
}

h1 {
   font-family: Helvetica, sans-serif;
   -webkit-text-stroke-width: 1px; 
   -webkit-text-stroke-color: black; 
   color: dimgray;
   float: left;
   margin: 0px 10px 0px 10px;
}

#inner {
   position: absolute;
   top: 55px;
}